<meta charset="utf-8" />
<title>
  <f:if condition="{pageTitle}">
    <f:then>{pageTitle} – {settings.siteName}</f:then>
    <f:else>{settings.siteName}</f:else>
  </f:if>
</title>
<f:if condition="{data.metaDescription}">
  <meta name="description" content="{data.metaDescription}" />
</f:if>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<f:if condition="{data.metaKeywords}">
  <meta name="keywords" content="{data.metaKeywords}" />
</f:if>
<f:if condition="{settings.siteName}">
  <meta property="og:site_name" content="{settings.siteName}" />
</f:if>
<f:if condition="{pageTitle}">
  <meta property="og:title" content="{pageTitle}" />
</f:if>
<f:if condition="{data.metaDescription}">
  <meta property="og:description" content="{data.metaDescription}" />
</f:if>
<f:be.pageRenderer />
