<f:if condition="{base}">
    <base href="{base}" />
</f:if>
<f:if condition="{description}">
    <meta name="description" content="{description}" />
</f:if>
<f:if condition="{keywords}">
    <meta name="keywords" content="{keywords}" />
</f:if>
<f:if condition="{ogTitle}">
    <meta property="og:title" content="{ogTitle}" />
</f:if>
<f:if condition="{ogDescription}">
    <meta property="og:description" content="{ogDescription}" />
</f:if>
<link rel="icon" type="image/svg+xml" href="EXT:ie_site_template/Resources/Public/Images/favicon.svg" />
