<f:layout name="Default" />

<f:section name="Head">
    <title>
        <f:if condition="{data.seo_title}">
            <f:then>{data.seo_title}</f:then>
            <f:else>{data.title} | {siteName}</f:else>
        </f:if>
    </title>
    <meta name="description" content="{f:if(condition: data.description, then: data.description, else: 'Image Engineering website')}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
    <f:render partial="Meta/Seo" arguments="{_all}" optional="true" />
</f:section>

<f:section name="Body">
    <div class="relative min-h-screen flex flex-col bg-[#121418] text-white">
        <div aria-hidden="true" class="absolute inset-0 bg-[radial-gradient(circle_at_top,_rgba(217,196,9,0.12),_transparent_60%)]"></div>
        <div aria-hidden="true" class="absolute inset-0 opacity-40 mix-blend-screen" style="background-image: url('{f:uri.resource(path: logo, extensionName: \"IeSiteTemplate\")}'); background-repeat: no-repeat; background-position: 120% -20%; background-size: 35%;"></div>

        <f:render partial="Navigation/Main" arguments="{mainNavigation: mainNavigation, utilityNavigation: utilityNavigation, languageNavigation: languageNavigation, logo: logo, siteName: siteName}" />

        <main id="content" class="relative z-10 flex-1 pt-48 pb-32">
            <div class="container mx-auto px-6 max-w-6xl">
                <div class="grid gap-16">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: data.uid, colPos: 0}" />
                </div>
            </div>
        </main>

        <f:render partial="Footer/Main" arguments="{footerNavigation: footerNavigation, siteName: siteName}" />
    </div>
</f:section>

<f:section name="FooterAssets" />
