<f:layout name="Default" />

<f:section name="Body">
  <f:render partial="Navigation/Main" arguments="{settings: settings}" />

  <main class="site-main site-main--standard">
    <section class="site-section site-section--hero">
      <div class="site-section__wrapper">
        <f:cObject typoscriptObjectPath="lib.contentHero" />
      </div>
    </section>

    <section class="site-section site-section--primary">
      <div class="site-section__wrapper">
        <f:cObject typoscriptObjectPath="lib.contentAreaPrimary" />
      </div>
    </section>

    <section class="site-section site-section--secondary">
      <div class="site-section__wrapper">
        <f:cObject typoscriptObjectPath="lib.contentAreaSecondary" />
      </div>
    </section>
  </main>

  <f:render partial="Shared/Footer" arguments="{settings: settings}" />
</f:section>
