<f:section name="Main">
    <article class="trusted-industries__item trusted-industry-card">
        <f:if condition="{images}">
            <div class="trusted-industry-card__icon" role="presentation">
                <f:image image="{images.0}" class="trusted-industry-card__icon-image" alt="{f:if(condition: images.0.properties.alternative, then: images.0.properties.alternative, else: data.header)}" />
            </div>
        </f:if>

        <f:if condition="{data.header}">
            <h3 class="trusted-industry-card__title">{data.header}</h3>
        </f:if>

        <f:if condition="{data.bodytext}">
            <div class="trusted-industry-card__text">
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </f:if>
    </article>
</f:section>
